@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue,
    sans-serif;
}

@layer components {
  .hoverAnimation {
    @apply hover:text-fastletter_mix text-gray-300 hover:bg-opacity-10 cursor-pointer text-2xl transition duration-200 ease-out;
  }
  .icon {
    @apply cursor-pointer w-9 h-9 hover:bg-[#1d9bf0] hover:bg-opacity-10 flex justify-center items-center rounded-full transition duration-200 ease-out;
  }
  .top-icon {
    @apply hover:cursor-pointer relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-fastletter_mix hover:bg-fastletter_mix hover:text-black text-xl rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear;
  }
  .top-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max top-12 rounded-md shadow-md text-white bg-gray-800 xl:text-lg md:text-base text-xs font-bold transition-all duration-100 scale-0 origin-top;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
